body {
	margin: 5px;
}

#app_container {
	width: 100%;
	position: relative;
	border: 1px solid #ccc;
	background-color: #fff;
	overflow: scroll;
	padding: 5px;
	max-width: 400px;
}

.form-control {
	border-radius: 0px;
	margin-bottom: 4px;
}

.btn {
	border-radius: 0px;
}

.fuelLoadEntry {
	font-size: 0.85em;
	border: 1px solid #ccc;
	margin: 5px;
	padding: 5px;
}

.smallText {
	font-size: 0.75em;
	margin-left: 2px;
}

.importantValue {
	font-size: 1em;
	font-weight: bold;
}

.w100 {
	width: 100%;
}

.w50 {
	width: 50%;
}
